<header class="main-header">
    	<nav class="navbar fixed-top navbar-dark bg-dark" >
    		<span class="navbar-text">
    			
       <form action="/doencas">
          <a href="/home"><button type="button" class="btn btn-light">Início</button></a>
          <button type="submit" class="btn btn-light">Doenças</button>
          <a href="/sair"><button type="button" class="btn btn-light">Sair</button></a>
          <a href="/admin/adm"><button type="button" class="btn btn-light">Adm</button></a>
       </form>

    		</span>
		</nav>
</header>






