<!DOCTYPE html>
<html>
<head>
	<title>nodejs temperatura teste </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<%- include('partials/head') %>


	<style media="screen">
		body{
			background: #BEBEBE;
		}
	</style>

</head>
<body>
	<div class="jumbotron">
		<p class="lead">Adicionar usuário</p>
		<hr class="my-4">
	</div>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<form method="POST">
            <label>Nome do usuário</label>
            <input class="form-control" name="user"/>
            <br>
            <label>Senha</label>
            <input class="form-control" type="password" name="pass"/>
            <br>
            <label for="imageUrl">URL da Imagem</label>
            <input class="form-control" name="imageUrl" id="imageUrl"/><br>
            <label >Coloque 1 para administrador e 0 para usuário comum</label>
            <input class="form-control" name="isAdmin"  /><br>

            <input  class="btn btn-dark" type="submit" value="cadastrar"> <br><br>
            <a href="/admin/adm"><button class="btn btn-dark">Voltar</button></a>
            
            </form>
		</div>
	</div>



	
</body>
</html>